.top-bar {
    display: flex;
    justify-content: center;   /* centers horizontally */
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.filter-dropbar {
    display: none; 
}

.filter-collapsed {
    display: none;
}

.filter-expanded {
    display: block;
}

#filters {
    width: 180px;
    padding: 15px;
    border-right: 1px solid #ccc;
    background: #f7f7f7;
    font-size: 15px;
}

.price-section {
    width: 120px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #444;
}
